@tailwind base;

.navItems {
   @apply cursor-pointer hover:bg-black hover:text-white px-4 py-2 rounded transition-colors duration-300;
}

.btn {
   @apply hover:scale-105 transition-all hover:shadow-lg duration-300 transform text-white uppercase bg-black tracking-wide px-6 py-2.5 text-sm rounded;
}

@tailwind components;
@tailwind utilities;

.gradientBackground {
   background: rgb(236, 195, 182);
   background: linear-gradient(
      90deg,
      rgba(236, 195, 182, 1) 0%,
      rgba(236, 195, 182, 1) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
   );
}

.h-afterNav {
   height: calc(100vh - 67px);
}
